.side-drawer {
    height: 100%;
    background: #678056;
    opacity: 0.9;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 30px;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    

}

.side-drawer.open {
    transform: translateX(0);
}

.cart-btn {
    position: relative;
    left: 1px;
    padding: 0.8rem 3rem;
    border:none;
    background:#456024;
    color: #eee;
    font-size: 1.4rem;
    border-radius:0.5rem 0 0 0;
    transition: all 1s linear; 
    width: 90% 
}

.side-drawer ul {
    height: 40%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.side-drawer li {
    margin: 0.5rem 0;
    white-space: pre-line;
}

.side-drawer a {
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    
}

.side-drawer a:hover,
.side-drawer a:active
{
    color: #333;
    text-decoration: none;
}


@media (min-width:769px){
    .side-drawer {
        display: none;
    }
}